<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MIS_DBConnectionString" connectionString="Data Source=10.10.30.68;Initial Catalog=MIS_DB;Persist Security Info=True;User ID=mtbcweb;Password=mtbcweb@mtbc"
      providerName="System.Data.SqlClient" />
    <add name="_6489_MueedConnectionString" connectionString="Data Source=it-n77;Initial Catalog=6489-Mueed;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="YNConnectionString" connectionString="Data Source=it-n77;Initial Catalog=YN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MISDB_WEB_MU_CERTConnectionString" connectionString="Data Source=DEV-TEST\KILIMANJARO;Initial Catalog=MISDB_WEB_MU_CERT;Persist Security Info=True;User ID=mtbcweb;Password=mtbcweb@mtbc"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>